@import url(/auth/style/style.css);

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 260px;
    bottom: 0px;
    height: 100px;
    border-top: 1px solid #E6ECED;
    background: #fff;

    color: #8e8e8e;
    font: 13px "Roboto";
    font-weight: 500;
    letter-spacing: 1px;

}



button {
    width: 200px;
    height: 35px;
    cursor: pointer;
    color: #000;
}

.stroke_1_center_panel {
	background: #FFF;
}
.stroke_2_center_panel {
	background: #FBFBFB;
	border-top: 1px solid #E6ECED;
	border-bottom: 1px solid #E6ECED; 
}
.box_strokeafter_2_center_panel {
	display: block;
	width: 75vw;
	margin-left: 2.73vw;
	margin-top: 30px;
}
	.box_1_center_panel {
		display: block;
		float: left;
		margin-right: 1.17vw;
	}

    .centerer_e1s3_center_panel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    		.element_1_stroke_3_box_1_center_panel, .element_2_stroke_3_box_1_center_panel {
    			display: flex;
    			justify-content: center;
    			
    			background: #fff;
    			-webkit-border-radius: 4px;		/*для других браузеров*/
    			-moz-border-radius: 4px;			
    			border-radius: 4px;
    			box-shadow: 0px 1px 2px #c4c4c4;
    		}
            .element_1_stroke_3_box_1_center_panel {
                width: 100%;
                min-height: 100px;
                margin-top: 22px;
                padding-bottom: 20px;
            }


            .chance_est {
                display: flex;
                align-items: center;
                
            }
                .chance_est .box {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 4px solid #ffdb7e;
                    padding: 5px 5px 5px 5px;
                    margin-right: 15px;
                }
                .chance_est .box span {
                    color: #565656;
                    font-weight: 900;
                }

                .chance_est a, .chance_est a:visited {
                    width: 188px;
                    height: 37px;
                    background: #ffdb7e;
                    color: #8e6200;
                    font: 18px "Roboto";
                    font-weight: 700;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px solid #ecc55d;

                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                    border-radius: 4px;

                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    -ms-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                }
                .chance_est a:hover {
                    background: #8e6200;
                    color: #ffdb7e;
                    border: 3px solid #8e6200;

                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    -ms-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;

                }

                .t3 {
                    margin-left: 25px;
                    color: #6d78ff;
                    font: 19px "Roboto";
                    font-weight: 500;
                       
                }


                .container_native_a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;

                    margin-top: 60px;
                }
                    .decript {
                        margin-top: 23px;
                       
                        color: #515151;
                        font: 16px "Roboto";
                        letter-spacing: 0.065em;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                    .native_banner {
                        width: 750px;
                        height: auto;
                        padding-left: 8px;
                        padding-right: 8px;
                    }


            .box_text {
                width: 80%;
            }
                .description {
                    margin-top: 50px;
                    color: #383838;
                    font: 23px "Roboto";
                    font-weight: 500;
                }
                .description_2 {
                    margin-top: 20px;
                    margin-bottom: 50px;
                    color: #313131;
                    font: 18px "Roboto";
                    font-weight: 400;
                }
                .description_2 span {
                    font-weight: 700;
                }


            #lototron {
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .number_lot {
                    display: flex;
                    justify-content: center;
                    width: 114px;
                    height: 148px;
                    outline: none;
                    border: 7px solid #313131;
                    font: 62px "Roboto";
                    font-weight: 900;
                    margin-left: 27px;
                    color: #313131;
                    text-align: center;

                }
                .win {
                    background: rgba(55, 220, 14, 0.53);
                }
                .lose {
                    background: rgba(224, 27, 27, 0.57);;
                }

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;

                margin-top: 20px;
                margin-bottom: 100px;
            }
                .buttons .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 590px;
                }
                    .button_action {
                        width: 188px;
                        height: 37px;
                        
                        font: 18px "Roboto";
                        font-weight: 700;

                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        -ms-border-radius: 4px;
                        -o-border-radius: 4px;
                        border-radius: 4px;
                    }

                    .buttons .random {
                        background: #f1f1f1;
                        color: #565656;
                        border: 1px solid #d0d0d0;

                        transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        -ms-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                    }
                    .buttons .play {
                        background: #3cb127;
                        color: #ffffff;
                        border: 1px solid #268815;

                        transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        -ms-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                    }
                    .buttons .retry {
                        background: #5f9fff;
                        color: #ffffff;
                        border: 1px solid #3672ce;

                        transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        -ms-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                    }
                    .buttons .random:hover {
                        background: #ffffff;
                        color: #232323;
                        border: 1px solid #a7a7a7;

                        transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        -ms-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                    }
                    .buttons .play:hover {
                        background: #4ade2f;
                        color: #114e06;
                        border: 1px solid #32ad1d;

                        transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        -ms-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                    }
                    .buttons .retry:hover {
                        background: #1673ff;
                        color: #ffffff;
                        border: 1px solid #2255a2;
                    }

                    /*.button_action:hover {
                        background: #8e6200;
                        color: #ffdb7e;
                        border: 3px solid #8e6200;

                        transition: all 0.2s ease;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        -ms-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                    }*/

                .fix_block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    height: 163px;
                }
                    .fix_block_total_text {
                        height: 43px;
                    }
                        #total_text {
                            height: 43px;
                            margin-bottom: 15px;

                            color: #313131;
                            font: 0px "Roboto";
                            font-weight: 400;

                            -webkit-transition: font-size 0.3s ease;
                            -moz-transition: font-size 0.3s ease;
                            -o-transition: font-size 0.3s ease;
                            -ms-transition: font-size 0.3s ease;
                            transition: font-size 0.3s ease;
                        }
                            #total_text span {
                                font-weight: 700;
                            }

                    #block_message {
                        margin-bottom: 47px;

                        color: #313131;
                        font: 41px "Roboto";
                        font-weight: 400;
                    }
                        #block_message span {
                            font-weight: 700;
                        }



    			.box_elements_e1s3b1cp {
                    display: flex;
                    justify-content: center;
                    flex-direction: column; 
                    width: 95%;
                    font: 17px "Fira Sans Condensed";
                    color: #383838;
                    font-weight: 400;
                    letter-spacing: 0.025em;
                    line-height: 25px;
                    margin-top: 21px;
    			}
                .box_2_elements_e1s3b1cp {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    padding: 20px 0 20px 0;
                }
                    .banner_linkslot {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
                        margin-top: 80px;

                        font: 18px "Roboto";
                        font-weight: 700;
                    }
                    #linkslot_285611 {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

    				.img_e1s3b1cp {
    					display: block;
    					width: 100px;
    					height: auto;
    					margin-right: 23px;
    				}

		.element_1_stroke_4_box_1_center_panel { 

		}

        .graph {
            height: 100px;
        }
		.box_stroke_5_box_1_center_panel {
			display: flex;
            align-items: center;

            margin-top: 20px;
            width: 100%;
            min-height: 288px;
            
            background: #fff;
            -webkit-border-radius: 4px;     /*для других браузеров*/
            -moz-border-radius: 4px;            
            border-radius: 4px;
            box-shadow: 0px 1px 2px #c4c4c4;                
		}
        .flex_a, .flex_a:visited {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 50px;

            font: 20px "Roboto";
            font-weight: 700;

            color: #3e3e3e;
        }
        .flex_a:hover {
            color: #008ab3;
            text-decoration: none;
        }

        .flex_a > img {
            width: 210px;
            height: auto;
            margin-bottom: 10px;
        }

/*-------------------------VVVVVVVVVVVVVVVVVVVVVVVVVVVVV-----------Список рефералов---------*/
            h1 {
                color: #383838;
                font: 28px "Roboto";
                font-weight: 900;
                letter-spacing: 1px;

                margin-top: 50px;
                margin-bottom: 20px;    
            }
            .div_table_e1s4b1c {
                display: flex;
                justify-content: center;
                width: 90%;
                max-height: 500px;
                overflow-y: scroll;
                
                margin-bottom: 80px;

                border: 1px solid #e4e4e4;
                border-bottom: none;

                background: #e7f0fd;
            }
            .div_table_e1s4b1c::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 8px;
                background-color: #F5F5F5;
            }

            .div_table_e1s4b1c::-webkit-scrollbar {
              width: 10px;
              background-color: #F5F5F5;
            }

            .div_table_e1s4b1c::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
              background-color: #c5c5c5;
            }
            .div_table_e1s4b1c::-webkit-scrollbar-thumb:hover {
              background-color: #8e8e8e;
            }


                .table_e1s4b1c {
                        display: block;
                        border-collapse: collapse; /*убрать двойные линии между ячейками*/

                        text-align: center;
                    }
                    .table_e1s4b1c th {
                        width: 15vw;
                        height: 40px;
                        line-height: 14px;
                        border-bottom: 3px solid #ececec;
                        padding-left: 15px;
                        padding-right: 15px;
                        background: linear-gradient(180deg, #e7f0fd, #fff);

                    }               
                    .table_e1s4b1c td {
                        width: 15vw;
                        height: 40px;   /*вертикальное выравнивание*/
                        line-height: 14px;      /*вертикальное выравнивание*/
                        border-bottom: 1px solid #e8e8e8;
                        padding-left: 15px;
                        padding-right: 15px;
                        background: #fff;
                    }
/*-------------------------AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-----------Список рефералов---------*/

@media screen and (max-device-width: 1240px) {
    .native_banner {
        width: 260px;
    }
}