@import url(/auth/style/style.css);

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 260px;
    bottom: 0px;
    height: 100px;
    border-top: 1px solid #E6ECED;
    background: #fff;

    color: #8e8e8e;
    font: 13px "Roboto";
    font-weight: 500;
    letter-spacing: 1px;

}


button {
    width: 200px;
    height: 35px;
    cursor: pointer;
    color: #000;
}

.stroke_1_center_panel {
	background: #FFF;
}
.stroke_2_center_panel {
	background: #FBFBFB;
	border-top: 1px solid #E6ECED;
	border-bottom: 1px solid #E6ECED; 
}
.box_strokeafter_2_center_panel {
	display: block;
	width: 75vw;
	margin-left: 2.73vw;
	margin-top: 30px;
}
	.box_1_center_panel {
		display: block;
		float: left;
		margin-right: 1.17vw;
	}

    .centerer_e1s3_center_panel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    		.element_1_stroke_3_box_1_center_panel, .element_2_stroke_3_box_1_center_panel {
    			display: flex;
    			justify-content: center;
    			align-items: center;
    			
    			background: #fff;
    			-webkit-border-radius: 4px;		/*для других браузеров*/
    			-moz-border-radius: 4px;			
    			border-radius: 4px;
    			box-shadow: 0px 1px 2px #c4c4c4;
    		}
            .element_1_stroke_3_box_1_center_panel {
                width: 100%;
                min-height: 305px;
                margin-right: 1.3vw;
                margin-top: 22px;
            }

    			.box_elements_e1s3b1cp {
    				display: flex;
    				justify-content: center;
    				align-items: center;
                    width: 100%;
    				padding: 20px 0 20px 0;
    			}
                .box_2_elements_e1s3b1cp {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    padding: 20px 0 20px 0;
                }
    				.img_e1s3b1cp {
    					display: block;
    					width: 100px;
    					height: auto;
    					margin-right: 23px;
    				}
    				.text_e1s3b1cp {
    					display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 95%;

    					font: 16px "Fira Sans Condensed";
    				    color: #383838;
    				    font-weight: 400;
    				    letter-spacing: 0.025em;
    				    line-height: 25px;
    				}
                        /*.text_graphic {
                            margin-top: 20px;
                            margin-bottom: -59px;
                            
                            color: #1a1a1a;
                            font: 18px "Roboto";
                            text-align: center;
                            letter-spacing: 0.025em;
                            font-weight: 900;
                        }*/
                        .canvas_graphic {
                            width: 100%;
                        }
    					.text_e1s3b1cp a, .text_e1s3b1cp a:visited {
    						color: #66a535;
    					}
    					.text_e1s3b1cp a:hover {
    						color: #6b35a5;
    					}

		.element_1_stroke_4_box_1_center_panel { 

		}

        .graph {
            height: 100px;
        }
		.box_stroke_5_box_1_center_panel {
			display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 20px;
            width: 100%;
            min-height: 288px;
            
            background: #fff;
            -webkit-border-radius: 4px;     /*для других браузеров*/
            -moz-border-radius: 4px;            
            border-radius: 4px;
            box-shadow: 0px 1px 2px #c4c4c4;                
		}

/*-------------------------VVVVVVVVVVVVVVVVVVVVVVVVVVVVV-----------Список рефералов---------*/
            h1 {
                color: #383838;
                font: 28px "Roboto";
                font-weight: 900;
                letter-spacing: 1px;

                margin-top: 50px;
                margin-bottom: 20px;    
            }
            .div_table_e1s4b1c {
                display: flex;
                justify-content: center;
                width: 90%;
                max-height: 500px;
                overflow-y: scroll;
                
                margin-bottom: 80px;

                border: 1px solid #e4e4e4;
                border-bottom: none;

                background: #e7f0fd;
            }
            .div_table_e1s4b1c::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 8px;
                background-color: #F5F5F5;
            }

            .div_table_e1s4b1c::-webkit-scrollbar {
              width: 10px;
              background-color: #F5F5F5;
            }

            .div_table_e1s4b1c::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
              background-color: #c5c5c5;
            }
            .div_table_e1s4b1c::-webkit-scrollbar-thumb:hover {
              background-color: #8e8e8e;
            }


                .table_e1s4b1c {
                        display: block;
                        border-collapse: collapse; /*убрать двойные линии между ячейками*/

                        text-align: center;
                    }
                    .table_e1s4b1c th {
                        width: 15vw;
                        height: 40px;
                        line-height: 14px;
                        border-bottom: 3px solid #ececec;
                        padding-left: 15px;
                        padding-right: 15px;
                        background: linear-gradient(180deg, #e7f0fd, #fff);

                    }               
                    .table_e1s4b1c td {
                        width: 15vw;
                        height: 40px;   /*вертикальное выравнивание*/
                        line-height: 14px;      /*вертикальное выравнивание*/
                        border-bottom: 1px solid #e8e8e8;
                        padding-left: 15px;
                        padding-right: 15px;
                        background: #fff;
                    }
/*-------------------------AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-----------Список рефералов---------*/