@import url(/all/style/main_style.css);


    
        .content_1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            min-height: 0;
            background: #fff;
        }

            .content_1 .stroke_1 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                margin-top: 60px;
                width: 100%;
                height: 100px;

                position: relative;
            }
                .stroke_1 .text_1 {
                    white-space: nowrap;    /*убрать перенос слов*/

                    color: #525252;
                    font: 12px Source Sans Pro;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    font-weight: 600;
                }

                .container_round_shape {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 820px;

                    margin-top: 35px;
                }

                    .content_1 .line_left, .content_1 .line_right {
                        width: 100%;
                        height: 1px;
                        background: #efefef;
                        content: "";    /*контент блока, в данном случае пустой, чтобы отображался*/
                        
                    }
                    .stroke_1 .text_2 {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #efefef;

                        border-radius: 5em;
                        -o-border-radius: 5em;
                        -moz-border-radius: 5em;
                        -ms-border-radius: 5em;
                        -webkit-white-space: nowrap;    /*убрать перенос слов*/

                        padding: 20px 32px 20px 32px;
                    }


                        .stroke_1 .text {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #525252;
                            font-family: 'Fira Sans Condensed';
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-size: 38px;
                            font-weight: 700;
                        }
                            .stroke_1 .text span {
                                font-size: 36px;
                                font-weight: 400;
                            }

                        .container_round_shape div > img {
                            width: 15px;
                            height: auto;
                            top: -15px;
                            left: 30px;
                            position: absolute;
                        }


            .content_1 .stroke_2 {
                display: flex;
                justify-content: center;
                width: 1200px;
                margin-top: 55px;
                margin-bottom: 95px;
            }
                .content_1 .stroke_2 .text {
                    margin-top: 15px;

                    
                    font: 14px "Roboto";
                    color: #333;
                    line-height: 1.65em;
                    letter-spacing: 0.1em;
                    line-height: 20px;
                    text-align: left;
                }
                .content_1 .stroke_2 .text h2, .content_1 .stroke_2 .text h1 {
                    font-weight: 400;
                }